@font-face {
	font-family: 'TTLakes'; 
	src: url(fonts/TTLakes-Regular.woff); 
}

@font-face {
	font-family: 'TTLakes-Bold'; 
	src: url(fonts/TTLakes-Bold.woff); 
}

@font-face {
	font-family: 'TTLakes-Medium'; 
	src: url(fonts/TTLakes-Medium.woff); 
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.page {
    margin:0 auto;
    background-color: #F8F8F8;
}



.page__adaptive {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}

.page__adaptive--1120 {
    display:none;
}

.upperMenu {
    width: 100%;
    height: 88px;
    background-color: #FFF;
    border-bottom: 1px solid #D9FFF5;
    align-items: center;
    justify-content: center;
    display:flex;
}

.upperMenu__container {
    width: 90%;
    display:flex;
    gap:16px; 
    justify-content: center;
    align-items: center;
}

.upperMenu__divider-1 {
    display: none;
}

.group {
    width: 96.55px;
    height: 50.81px;
}

.ic-call {
    display: none;
}

.ic-chat {
    display: none;
}

.ic-profile {
    display: none;
}

.upperMenu__divider {
    width:2px;
    height:32px;
    background-color: #EAEAEA;
}


.title {
    display: flex;
    margin-top:24px;
    height: 40px;
    width:90%;
}

.title__highlight {
    width: 4px;
    height: 40px;
    position: absolute;
    left:0;
}

.title__text {
    font-family: TTLakes-Bold;
    font-size: 28px;
    letter-spacing: -0.6px;
    line-height: 40px;
    color:#1B1C21;
}

.slideMenu {
    width: 95%;
    margin-left: 5%;
    margin-top:24px;
    display: flex;
    overflow-x: auto;
}

.slideMenu__button {
    height: 40px;
    font-family: TTLakes;
    padding: 8px 16px;
    white-space:pre;
    color:#7E7E82;
}

.slideMenu__button:hover {
    border: 2px solid #B8FFEC;
    padding:6px 14px;
    border-radius: 6px;
}


.slideMenu__fade {
    width: 24px;
    height: 40px;
    background-image: linear-gradient(to right, rgba(248, 248, 248, 0.01%),rgba(248, 248, 248, 100%));
    position: absolute;
    right:0;
}

.button6:hover + .slideMenu__fade {
    display: none;
}

.main {
    margin-top:9px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.block {
    width: 90%;
}

.block__text {
    font-family: TTLakes;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    white-space:pre-wrap;
}

.block__text--1120 {
    display:none;
}

.block__text--768 {
    display:none;
}

.readMore {
    display: flex;
    width: 132px;
    margin-top: 16px;
}

.readMore__icon {
    width: 24px;
    height: 24px;
}

.readMore__text {
    font-family: TTLakes-Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color:#1B1C21;
    margin-left:8px;
}

.picture {
    width:100%;
    margin-top: 16px;
    margin-bottom: 6.876vh;
}

.picture__image {
    width: 100%;
}



@media (min-width: 768px) {
   
    .upperMenu__divider-1 {
        display: block;
    }
    
    .ic-call {
        display: block;
        margin-left: auto;
    }

    .ic-chat {
        display: block;
    }

    .ic-profile {
        display: block;
    }


    .slideMenu {
        margin-top:32px;
    }

    .main-container {
        display: flex;
        justify-content: center;
    }

    .main {
        margin-top: 32px;
        flex-direction: row; 
        justify-content: space-between;
        width: 90%;
    }

    .block {
        width: 43%;
        display: flex;
        flex-direction: column;
        align-self: stretch;
    }

    .block__text {
        line-height: 20px;
    }

    .block__text--768 {
        display: block;
    }

    .block__text--320 {
        display: none;
    }

    .readMore {
        margin-top: 10px;
    }

    .picture {
        width: 50%;
        border-radius: 5px;
        margin: 0;
    }

    .picture__image {
        width: 100%;
        border-radius: 5px;
    }
}

@media (min-width: 1120px) {
    
    .page__adaptive--320 {
        display: none;
    }

    .page__adaptive--768 {
        display: none;
    }    

    .page__adaptive--1120 {
        display:flex;
        flex-wrap:wrap;
        margin-top:42px;
    }

    .title {
        margin-top:0;
        height: 40px;
        display:flex;
        width: 90%;
        gap:32px;
    }

    .title__highlight {
        width: 3px;
    }
    

    .title__ic {
        margin:0;
        display: flex;
    }

    .ic-repair {
        margin-left: auto;
    }

    .text {
        font-family: TTLakes-Medium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color:#1B1C21;
        white-space: pre;
        align-self: center;
        margin-right: 8px;
    }

    .slideMenu {
        flex-wrap: wrap;
        width: 90%;
        margin: 0;
        margin-top: 8px;
    }

    .slideMenu__button {
        padding: 8px 19px;
        text-align: center;
    }


    .slideMenu__button:hover {
        border: 2px solid #B8FFEC;
        padding:6px 17px;
        border-radius: 6px;
    }

    .main {
        margin-top: 0;
    }

    .block__text--768 {
        display: none;
    }

    .block__text--1120 {
        display: block;
    }

}
@media (min-width: 1290px) {
    .slideMenu__button {
        flex-grow: 1;
    }
    .main {
        margin-top: 16px;
    }
}