@font-face {
	font-family: 'TTLakes'; 
	src: url(fonts/TTLakes-Regular.woff); 
}

@font-face {
	font-family: 'TTLakes-Bold'; 
	src: url(fonts/TTLakes-Bold.woff); 
}

@font-face {
	font-family: 'TTLakes-Medium'; 
	src: url(fonts/TTLakes-Medium.woff); 
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.page {
    margin:0 auto;
    background-color: #F8F8F8;
}



.upperMenu {
    height: 88px;
    background-color: #FFF;
    border-bottom: 1px solid #D9FFF5;
    display:flex;
    gap:16px; 
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}


.upperMenu__divider--left {
    display: none;
}

.ic-logo {
    width: 96.55px;
    height: 50.81px;
}

.ic-call {
    display: none;
}

.ic-chat {
    display: none;
}

.ic-profile {
    display: none;
}

.upperMenu__divider {
    width:2px;
    height:32px;
    background-color: #EAEAEA;
    margin-left: auto;
}


.title {
    display: flex;
    margin-top:24px;
    height: 40px;
    width:100%;
}

.title__highlight {
    width: 4px;
    height: 40px;
    position: absolute;
    left:0;
}

.title__text {
    font-family: TTLakes-Bold;
    font-size: 28px;
    letter-spacing: -0.6px;
    line-height: 40px;
    color:#1B1C21;
    margin-left: 16px;
}

.slideMenu {
    width: 100%;
    margin-left: 16px;
    margin-top:24px;
    display: flex;
    overflow-x: auto;
}

.slideMenu__button {
    height: 40px;
    font-family: TTLakes;
    padding: 8px 16px;
    white-space:pre;
    color:#7E7E82;
}

.slideMenu__button:hover {
    border: 2px solid #B8FFEC;
    padding:6px 14px;
    border-radius: 6px;
}


.slideMenu__fade {
    width: 24px;
    height: 40px;
    background-image: linear-gradient(to right, rgba(248, 248, 248, 0.01%),rgba(248, 248, 248, 100%));
    position: absolute;
    right:0;
}


.main {
    margin-top:9px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.block {
    margin-left: 16px;
    margin-right: 16px;
}

.text__content {
    font-family: TTLakes;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}


.readMore {
    display: flex;
    width: 132px;
    margin-top: 16px;
}

.readMore__icon {
    width: 24px;
    height: 24px;
}

.readMore__text {
    font-family: TTLakes-Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color:#1B1C21;
    margin-left:8px;
}

.picture {
    width:100%;
    margin-top: 16px;
    margin-bottom: 6.876vh;
}

.picture__image {
    width: 100%;
}



@media (min-width: 768px) {
    .upperMenu__divider {
        margin-left: 0; 
    }

    .upperMenu {
        margin-left: 24px;
        margin-right: 24px;
    }

    .upperMenu__divider--left {
        display: block;
    }
    
    .ic-call {
        display: block;
        margin-left: auto;
    }

    .ic-chat {
        display: block;
    }

    .ic-profile {
        display: block;
    }

    .title__text {
        margin-left: 24px;
    }
    

    .slideMenu {
        margin-top:32px;
        margin-left:24px;
    }

    .main {
        margin-top: 32px;
        flex-direction: row; 
        justify-content: space-between;
    }

    .block {
        width: 43%;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        margin-left: 24px;
        margin-right: 24px;
    }

    .text__content {
        display: none;
    }


    .text::after {
        content: "Мы являемся авторизованным сервисным центром по ремонту техники Dell. Только у нас вы можете отремонтировать свой ноутбук Dell с официальной гарантией производителя. \A \A Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера"  ;
        line-height: 20px;
        font-family: TTLakes;
        font-size: 14px;
        letter-spacing: 0.2px;
        color: #1B1C21;
        white-space: pre-wrap;
    }



    .readMore {
        margin-top: 10px;
    }

    .picture {
        width: 50%;
        border-radius: 5px;
        margin: 0;
        margin-left: 24px;
        margin-right: 24px;
    }

    .picture__image {
        width: 100%;
        border-radius: 5px;
    }
}

@media (min-width: 1120px) {
    .upperMenu {
        gap:32px;
        margin: 42px 32px 0;
        height: 40px;
    }

    .upperMenu__ic {
        display: none;
    }

    .upperMenu__divider {
        display: none;
    }

    .ic-repair {
        display: flex;
        height: 40px;
    }

    .ic-repair::before {
        font-family: TTLakes-Medium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color:#1B1C21;
        align-self: center;
        margin-right: 8px;
        content: "Оставить заявку";
        height: 24px;
        display: inline-block;
    }

    .ic-checkstatus {
        display: flex;
        height: 40px;
    }

    .ic-checkstatus::before {
        font-family: TTLakes-Medium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color:#1B1C21;
        align-self: center;
        margin-right: 8px;
        content: "Статус ремонта";
        height: 24px;
        display: inline-block;
    }

    .title {
        margin-top:0;
        height: 40px;
        position: absolute;
        top:42px;
    }

    .title__highlight {
        width: 3px;
    }
    
    .title__text {
        margin-left: 32px;
    }

    .title__ic {
        margin:0;
        display: flex;
    }

    .ic-repair {
        margin-left: auto;
    }

    .slideMenu {
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        margin-top: 8px;
        margin-left: 32px;
    }

    .slideMenu__button {
        padding: 8px 19px;
        text-align: center;
    }


    .slideMenu__button:hover {
        border: 2px solid #B8FFEC;
        padding:6px 17px;
        border-radius: 6px;
    }

    .main {
        margin-top: 0;
    }

    .block {
        margin-left: 32px;
        margin-right: 32px;
    }

    .text::after {
        content: "Мы являемся авторизованным сервисным центром по ремонту техники Dell. Только у нас вы можете отремонтировать свой ноутбук Dell с официальной гарантией производителя. \A \A Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера, что подтверждает большое количество постоянных клиентов. Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою очередь, советуют нас родным и близким.";
    }


}